@tailwind base;
@tailwind components;
@tailwind utilities;

.input:placeholder-shown + p,
.input:not(:focus) + p {
  top: 50%;
  opacity: 0;
  transition: all 0.3s;
}

.hero-background {
  background-image: url("./assets/wave.svg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}
