/* carousel.css */
@keyframes slide-next {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes slide-prev {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .animate-slide-next {
    animation: slide-next 0.5s forwards;
  }
  
  .animate-slide-prev {
    animation: slide-prev 0.5s forwards;
  }
  